.parent {
  width: 200px;
  height: 200px;
  background-color: red;
}

.child {
  width: 50%;
  height: 50%;
  background-color: gray;
}

#adjustedParent {
  margin: 50px;
  /* margin-topなどでも指定可能 */
  /* margin-top: 5px; */
  padding: 100px 100px 100px 100px;
}
